# LLM PROVIDER KEYS
OPENAI_API_KEY=

# MODELS
SPACY_MODEL=
EMBEDDING_MODEL=
LLM_MODEL=

# URLS & PORTS
QDRANT_HOST=
QDRANT_PORT=

# PARAMETERS
SCORE_THRESHOLD=
SIMILARITY_THRESHOLD=
OCR_DPI=
COLLECTION_NAME=
VECTOR_SIZE=
TOP_K=
CHUNK_SIZE=

# GENERAL
LOG_LEVEL=
LLM_TIMEOUT_SEC=